<header>
    <nav class="navbar navbar-light bg-primary">
      <a class="navbar-brand" href="#">Microfrontends</a>
  
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a  routerLink="/"   (click)="setApplicationName('')"    class="nav-link text-white">
            <span class="bi d-block mx-auto mb-1 span-icon-header" width="24" height="24">
              <i class="fa fa-home icon-header"></i>
            </span>
            Home
          </a>
        </li>
        <li>
          <a routerLink="/usuarios" (click)="setApplicationName('Cadastro de Usuários')"   class="nav-link text-white">
            <span class="bi d-block mx-auto mb-1 span-icon-header" width="24" height="24">
              <i class="fa fa-users icon-header"></i>
            </span>Usuários
          </a>
        </li>
        <li>
          <a  routerLink="/produtos" (click)="setApplicationName('Cadastro de Produtos')"   class="nav-link text-white">
            <span class="bi d-block mx-auto mb-1 span-icon-header" width="24" height="24">
              <i class="fas fa-cubes icon-header"></i>
            </span> Produtos
          </a>
        </li>
        <li>
          <a routerLink="/clientes"  (click)="setApplicationName('Cadastro de Clientes')"  class="nav-link text-white">
            <span class="bi d-block mx-auto mb-1 span-icon-header" width="24" height="24">
              <i class="fas fa-people-carry  icon-header"></i>
            </span> Clientes
          </a>
        </li>
       
      </ul>
  
  
    </nav>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">  <div class="mf-name">
        {{appName}}
     </div></a>

    {{user.username}}
    
     <button  (click)="logout()" class="btn btn-sm btn-outline-primary"  >Sair</button>

     {{user | json}}
    </nav>
  
  </header>