@import url("https://localhost:8080/angular-12.0.0/styleguide.css");


.span-icon-header{
    text-align: center;
    font-size: 24px;
}

.icon-header{
    display: block;
    margin-right: auto!important;
    margin-left: auto!important;
    margin-bottom: 0.25 rem !important;
    vertical-align: middle;
}

.user-box{
    position: absolute;
    right: 15px;
}

.mf-name{
    font-size: 0.9em;
    font-weight: bold;
    color: darkslategray;
}

