<single-spa-router>
  <application name="@cef/header"></application>

  <div class="container-fluid" >
 
    <route path="/usuarios">
      <application name="@cef/usuarios"></application>
    </route>

    <route path="/produtos">
    <application name="@cef/produtos"></application>
    </route>

    <route path="/clientes">
      <application name="@cef/clientes"></application>
    </route>

    <route default>
      <div class="jumbotron" style="margin-top:50px; margin-left: 50px; margin-right: 50px;">
        <h1 class="display-4">Microfrontends!</h1>
        <p class="lead">Aplicação para validação da arquitetura de referência de microfrontends</p>
        <hr class="my-4">
        <p>Utilize a barra de navegação acima para navegar entre as micro aplicações registradas neste Host</p>
      </div>
    </route>

  </div>
</single-spa-router>
